{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Royal Events-Home
{% endblock %}







{% block body %}




<section id="section1">

    

    {% include 'home/navbar.html' %}

    <div class="row">
        <div class="col-12">

            <img src="{% static 'images/header1.jpg' %}" class="img-fluid" alt="..." style="width: 100%;margin-top: 130px;">

        </div>
    </div>

    
    
        
    
</section>



<section id="section2">

   
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class=" title text-center" style="margin-top: 45px;"><b>ROYAL EVENTS</b></h3>
                <h3 class="subtitle text-center">Best Catering and Event Management Services</h3><br>
                <h1 class="text-center">We Specialize in Weddings, Events and Parties.</h1>
                <p class="des text-center">With 10+ years of experience, we promise you... <br>
                    fresh food with top-notch service, sophisticated style, 
                    affordable price and perfect design for your most significant moments...
                </p>
 
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-center">Our passion is stirred by the colors,<br>
                    flavors and exotic textures
                </h3><br>
                <h4 class="text-center">This is our <b> Passion</b></h4>
                <p class="text-center">We choose this because of passion, not for income</p>
                <h4 class="text-center">We serve only <b>Fresh</b></h4>
                <p class="text-center">Daily we provide fresh foods, because we want a healthy generation</p>
                <h4 class="text-center">Never compromise <b>Quality</b></h4>
                <p class="text-center">We believe that good food brings people together</p>

            </div>
            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <img src="{% static 'images/img1.jpg' %}" class="img-fluid rounded" alt="..." style="width: 100%;">
                        </div>  
                    </div>
                </div>   
            </div>
        </div>
    </div>   

</section>

<section id="section3">

  <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="title text-center">Enjoy your special moments with our <b>Fresh</b> and <b>Delicious</b> recepies..!</h4>
        </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      {% for i in product %}

      <div class="col-lg-4">

        <div class="card" style="width: 18rem;margin: 40px;color: rgb(5, 12, 69);padding: 2px;">
          <img src="{{i.pimg.url}}" class="card-img-top" alt="..." style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title"><b>{{i.pname}}</b></h5>
            <p class="card-text">{{i.pdes|truncatewords:6}}</p>
            <p class="card-text">{{i.pprice}}/-</p>
            <a href="/login" class="btn btn-dark" style="background-color: rgb(5, 12, 69);color: white;">Add to Cart</a>
          </div>
        </div>


      </div>

      {% endfor %}
    </div>
  </div>

  
</section>

<section id="section4">

  <div class="container">
    <div class="row">

      <div class="col-12">
        <h4 class="title text-center">Enjoy your special moments with our <b>Fresh</b> and <b>Delicious</b> recepies..!</h4>
      </div>
    </div>
  </div>


</section>

<section id="section5">
  <div class="container footer">
    <div class="row">


      <div class="col-lg-4">

        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid" style="height: 250px;width: 300px;">

      </div>


      <div class="col-lg-4">

        <div class="footer">
          <p class="text-center" style="margin-top: 10px;"><b>About Us </b> <br>www.RoyalEvents.com <br>
          insta:@royalevents <br>
          Call:7902801967 <br>
          Mail:royalevents@gmail.com <br>
          </p>
        </div>

      </div>


      <div class="col-lg-4">
        <div class="container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251502.02516988054!2d76.28649447344515!3d9.957309299244955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1680984708082!5m2!1sen!2sin" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>


    </div>
  </div>
</section>







{% include 'home/login.html' %}
{% include 'home/registration.html' %}

{% for message in messages %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

  {% if message.tags == 'info' %}
  <!-- <script>
    var m="{{message}}";
    swal("Blocked..!",m, "info")
  </script> -->

  <!-- modal show -->
  <script>
      $(document).ready(function() {
          $("#loginmodal").modal('show');
      });
  </script>
  

  {% elif message.tags == 'error' %}
  <script>
    var m="{{message}}";
    swal("Denied..!",m, "error")
  </script>

  {% else %}
  
  <script>
    var m="{{message}}";
    swal("Thankyou..!",m, "success")
  </script>
  

  {% endif %}


{% endfor %}


{% endblock %}