
<!-- modal for login -->



<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: rgb(255, 255, 255);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: rgb(5, 12, 69);border-radius: 20px;border-color: black;">
        <div class="modal">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form method="post" action="{% url 'loginuser' %}" target="_self" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="container">
                <h1 class="header" style="text-align: center;">LOG IN</h1>
                <div class="form-group">
                    <label for="uname">Username*</label>
                    <input type="text" style="background-color: rgb(71, 79, 141);color: rgb(0, 0, 0);" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
                    <!-- <div class="valid-feedback">Valid.</div> -->
                    <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                  </div><br>
                
                  <div class="form-group">
                    <label for="pwd">Password*</label>
                    <input type="password" style="background-color: rgb(71, 79, 141);" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
                    <!-- <div class="valid-feedback">Valid.</div> -->
                    <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                  </div><br>
                  <!-- <div class="form-group form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="remember" required> Please check here.
                      <div class="valid-feedback">Valid.</div>
                      <div class="invalid-feedback">Check this checkbox to continue.</div>
                    </label>
                  </div> -->
                  <input type='submit' class="btn" style="background-color: rgb(31, 38, 90); color: rgb(255, 255, 255);margin-bottom: 5px;" value='LOGIN'>
                  
                  
                  <a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="#" id="a02" style="color: rgb(255, 255, 255);">Create New account</a>
                  
      
              </div>
            </form>
          </div>
          <!-- <div class="modal-footer">
            <button class="btn" data-bs-dismiss="modal" style=" color: white; background-color: rgb(5, 12, 69);" type="button"><a href="#" style="text-decoration: none;color: rgb(255, 255, 255);">Back</a> </button>

          </div> -->
        </div>
      </div>
    </div>

<script>

//  Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()


     







</script>
<style>

div.modal{

    font-family: Arial, Helvetica, sans-serif;
    
    
}

div.modal#signup div.modal-body{
    padding: 10px;
}

    </style>