
<!-- modal for registration -->


<div class="modal fade" id="registrationmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: rgb(255, 255, 255);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: rgb(5, 12, 69);border-radius: 15px;">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="modal-body">

          <div class="container">
            <h1 class="header" style="text-align: center;">Hi...!</h1>
            <h5 class="header" style="text-align: center;">To get more discounts and features <br> <b>Become a Member.</b></h5><br><br>
            
            <form id="registrationForm" method="post" action="{% url 'usercreate' %}" class="needs-validation" novalidate  target="_self" enctype="multipart/form-data">
                {% csrf_token %}
                
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control" id="fname" placeholder="Enter first name" name="fname" required pattern="[A-Z][a-z]*">
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <div class="invalid-feedback">First letter should be capital.</div>
                      </div><br>
                    
                      <div class="form-group">
                        <label for="lasttname">Last Name:</label>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control" id="lname" placeholder="Enter last name" name="lname" required pattern="[A-Z][a-z]*">
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <div class="invalid-feedback">First letter should be capital.</div>
                      </div><br>
                      <div class="form-group">
                        <label for="lasttname">Username:</label>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control" id="lname" placeholder="Enter username" name="uname" required>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label for="firstname">Address</label>
                        <textarea rows="5" cols="10" style="background-color: rgb(71, 79, 141);" class="form-control" id="address" placeholder="Enter address" name="address" required></textarea>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label>Email:</label>
                        <input type="email" style="background-color: rgb(71, 79, 141);" class="form-control" id="lname" placeholder="Enter email id" name="email" required>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                    
                      <div class="form-group">
                        <label>Mobile number:</label>
                        <input type="tel" style="background-color: rgb(71, 79, 141);" class="form-control"  placeholder="Enter mobile number" name="number"  required pattern="[0-9]{10}">
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <div class="invalid-feedback">Please enter a valid 10-digit number</div>
                      </div><br>
                      <div class="form-group">
                        <label>Age:</label>
                        <input type="number" style="background-color: rgb(71, 79, 141);" class="form-control" placeholder="Enter age" name="age" required pattern="[0-9]">
                        <!-- <div class="valid-feedback">Valid.</div> -->
                        <!-- <div class="invalid-feedback">Please enter a valid age.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label>State:</label>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control"  placeholder="Enter  State" name="state" required>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label>Country:</label>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control"  placeholder="Enter  Country" name="country" required>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label>Pincode:</label>
                        <input type="number" style="background-color: rgb(71, 79, 141);" class="form-control"  placeholder="Enter  Pincode" name="pin" required pattern="[0-9]">
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div><br>
                      <div class="form-group">
                        <label>Gender</label><br>
                        <input type="text" style="background-color: rgb(71, 79, 141);" class="form-control"  placeholder="Enter Gender" name="gender" required>
                        <!-- <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div> -->
                        
                      </div>
                    
                    
                    
                <br>
        
                <div class="form-group">
                    <label>Upload Photo: </label>
                    <input type='file' style="background-color: rgb(71, 79, 141);" name="photo"  accept="image/*">
                    
                </div><br>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" style="background-color: rgb(71, 79, 141);" class="form-control" id="password" placeholder="Enter password" name="password" aria-label="Password" aria-describedby="show-password" required>
                    <button class="btn" style="color: rgb(255, 255, 255);margin-left: 400px;" type="button" id="show-password" onclick="togglePassword()">
                      <i class="bi bi-eye-slash-fill"></i>
                    </button>
                    <div class="input-group-append">
                      <button class="btn " type="button" style="background-color: rgb(20, 30, 93);color: white;" id="generate-password">Generate password</button>
                    </div>
                    <!-- <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div> -->
                </div><br>
                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" style="background-color: rgb(71, 79, 141);" class="form-control" id="cpassword" placeholder="Confirm password" name="cpassword" aria-label="Password" aria-describedby="show-password" required>
                    <button class="btn" style="color: rgb(255, 255, 255);margin-left: 400px;" type="button" id="show-cpassword" onclick="togglecPassword()">
                      <i class="bi bi-eye-slash-fill"></i>
                    </button>
                     <!-- <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div> -->
                   </div><br>
    
                <input type='submit' class="btn" style="background-color: rgb(20, 30, 93); color: rgb(255, 255, 255);margin-bottom: 5px;" value='REGISTER'>
                <!-- <input type='reset'class="btn" style="background-color: rgb(5, 12, 69); color: rgb(255, 255, 255);margin-bottom: 5px;" value='RESET'> <br> -->
            <br>
            </form>
        

          
        </div>
        <!-- <div class="modal-footer">
          <button class="btn" data-bs-dismiss="modal" style="background-color: rgb(5, 12, 69);color: white;" type="button"><a href="#" style="text-decoration: none;color: rgb(255, 255, 255);">Back</a> </button>

        </div> -->
      </div>
    </div>
  </div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

function generatePassword() {
  var length = 6;
  var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789@#$%&";
  var password = "";
  for (var i = 0; i < length; i++) {
    password += charset.charAt(Math.floor(Math.random() * charset.length));
  }
  return password;
}


$('#generate-password').click(function() {
  var password = generatePassword();
  $('#password').val(password);
  $('#cpassword').val(password);
});

function togglePassword() {
  var passwordInput = document.getElementById("password");
  var toggleButton = document.getElementById("show-password");

  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    toggleButton.innerHTML = '<i class="bi bi-eye-fill"></i>';
  } else {
    passwordInput.type = "password";
    toggleButton.innerHTML = '<i class="bi bi-eye-slash-fill"></i>';
  }
}
function togglecPassword() {
  var passwordInput = document.getElementById("cpassword");
  var toggleButton = document.getElementById("show-cpassword");

  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    toggleButton.innerHTML = '<i class="bi bi-eye-fill"></i>';
  } else {
    passwordInput.type = "password";
    toggleButton.innerHTML = '<i class="bi bi-eye-slash-fill"></i>';
  }
}




// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()


</script>








<style>
    div.modal{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
div.modal a{
    text-decoration: none;
    color: rgb(246, 110, 19);

}
#a02{
    
    padding-left: 160px;
}
div.modal#signup div.modal-body{
    padding: 10px;
}
div.footer{
    height: 150px;
    background-color: rgb(251, 251, 251);
    color: rgb(246, 110, 19);
}
input{
  background-color: rgb(5, 12, 69);
}
</style>