{% extends 'manager/base.html' %}
{% load static %}


{% block title %}
Royal Events-Admin_Home
{% endblock %}





{% block body %}


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color:rgb(5, 12, 69);
    overflow-x: hidden;
    padding-top: 20px;
  }

  .main-content {
    margin-left: 200px;
    padding: 20px;
  }

  .menu-item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #040404;
  }

  .menu-item a {
    text-decoration: none;
    color: #ffffff;
  }

  .menu-item a:hover {
    color: #000;
  }

  .toggle-btn {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .toggle-btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .main-content {
      margin-left: 0;
    }
  }
</style>


<div class="sidebar">
  <button class="toggle-btn"></button>
  <ul>

    <li class="menu-item"><a href="{% url 'adminhome' %}"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100px;"></a></li>
    <li class="menu-item"><a href="{% url 'adminhome' %}">Dashboard</a></li>
    <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#categorymodal" href="#">Add Category</a></li>
    <li class="menu-item"><a href="{% url 'product' %}">Add Food Items</a></li>
    <li class="menu-item"><a href="{% url 'showprdt' %}">Food Items</a></li>
    <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#eventmodal" href="#">Add Event Packs</a></li>
    <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#menumodal" href="#">Add Menu Packs</a></li>


    <li class="menu-item"><a href="{% url 'eventrequest' %}">Event Requests</a></li>
    <li class="menu-item"><a href="{% url 'approvedbookings' %}">Approved Events</a></li>
    <li class="menu-item"><a href="{% url 'showusr' %}">Customers</a></li>

    {% if user.is_authenticated %}
    <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#loginmodal" href="">Login</a></li>
    <!-- <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="">Register</a></li> -->
    {% endif %}


  </ul>
</div>



<div class="main-content">

  <section>
    <h3 class="text-center" style="color: rgb(5, 12, 69);">ADMIN DASHBOARD</h3>
  </section>


  <section>

   
    <div class="row">
      <div class="col-4">
          {% include 'home/login.html' %}  
          {% include 'manager/category.html' %}
          {% include 'manager/eventpacks.html' %}
          {% include 'manager/menupacks.html' %}
    
      </div>
    </div>
  </section>




  
</div>




{% for message in messages %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

  {% if message.tags == 'success' %}
  <script>
    var m="{{message}}";
    swal("Success!",m, "success")
  </script>

  <!-- modal show -->
  <!-- <script>
      $(document).ready(function() {
          $("#loginmodal").modal('show');
      });
  </script> -->
  

  {% elif message.tags == 'error' %}
  <script>
    var m="{{message}}";
    swal("Denied..!",m, "error")
  </script>

  {% else %}
  
  <script>
    var m="{{message}}";
    swal("Welcome..!",m, "info")
  </script>
  

  {% endif %}


{% endfor %}


<style>
body{
    background-color: rgb(220, 216, 254);
}

</style>
<script>
  var toggleBtn = document.querySelector('.toggle-btn');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    sidebar.classList.toggle('active');
  });
</script>



{% endblock %}