{% extends 'manager/base.html' %}
{% load static %}

{% block title %}
Edit Product
{% endblock title %}


{% block body %}

<div class="nav fixed-top " style="background-color: rgb(5, 12, 69);;">
    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100%;"></a>
    <a href="{% url 'adminhome' %}"><label type="submit"  class="label" style="background-color: rgb(5, 12, 69);color: white;margin-top: 35px; font-size:large;margin-left: 25px;">Back</label>
    </a>      
</div>

<div class="container">
    <h3 class="alert text-center mb-5 w-50" style="color: rgb(5, 12, 69);">
        Edit Product
    </h3>
        <form method="post" action="{% url 'update' product.id %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="text" name="pname" class="form-control mt-3" value="{{product.pname}}" placeholder="Enter Product Name">
            <input type="text" name="pdes" class="form-control mt-3" value="{{product.pdes}}" placeholder="Enter Product Description">
            <input type="number" name="pprice" class="form-control mt-3 mb-3" value="{{product.pprice}}" placeholder="Enter Price">
            <input type="number" name="pqty" class="form-control mt-3 mb-3" value="{{product.pqty}}" placeholder="Enter Quantity">
           
            {% if product.pimg %}
            <img id="a1" src="{{product.pimg.url}}" style="width: 250px;margin-left:5px;" alt="">
            <input type="file" name="pimg" accept="image/*"><br><br>
            {% endif %}
            

            <!-- <input type="date" name="joindate" class="form-control mt-3 mb-3" placeholder="Enter Joining Date"> -->

            <select class="form-control" name="select" id="qwerty">
        

                <option value="{{product.pcat.id}}">{{ product.pcat.category_name }}</option>
        
                {% for i in category %}
        
                <option value="{{i.id}}">{{ i.category_name }}</option>
        
                {% endfor %}
        
                
            </select>


            <button type="submit" class="btn btn-dark mt-3 " style="width: 650px;background-color: rgb(5, 12, 69);color: white;margin-bottom: 20px;">Submit</button>
        </form>
</div>

<style>
.container{
    position: absolute;
    left: 30%;
    top: 27%;
}
input[type=text],[type=number],[type=file]{
    width: 650px;
}
label{
    width: 650px;
}
#qwerty{
    width: 650px;
}
body{
    margin-bottom: 20px;
}
/* .btn{
    width: 600px;
} */
</style>

{% endblock %}