{% extends 'manager/base.html' %}
{% load static %}

{% block title %}
Add Food Items
{% endblock title %}


{% block body %}


<style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color:rgb(5, 12, 69);
      overflow-x: hidden;
      padding-top: 20px;
    }
  
    .main-content {
      margin-left: 200px;
      padding: 20px;
    }
  
    .menu-item {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #040404;
    }
  
    .menu-item a {
      text-decoration: none;
      color: #ffffff;
    }
  
    .menu-item a:hover {
      color: #000;
    }
  
    .toggle-btn {
      display: none;
    }
  
    @media screen and (max-width: 768px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
      .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
  
      .main-content {
        margin-left: 0;
      }
    }
  </style>
  
  
  <div class="sidebar fixed-top">
    <!-- <button class="toggle-btn"></button> -->
    <ul>
  
      <li class="menu-item"><a href="{% url 'adminhome' %}"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100px;"></a></li>
      <li class="menu-item"><a href="{% url 'adminhome' %}">Dashboard</a></li>
      <!-- <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#categorymodal" href="#">Add Category</a></li> -->
      <li class="menu-item"><a href="{% url 'product' %}">Add Food Items</a></li>
      <li class="menu-item"><a href="{% url 'showprdt' %}">Food Items</a></li>
      <!-- <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#eventmodal" href="#">Add Event Packs</a></li> -->
      <!-- <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#menumodal" href="#">Add Menu Packs</a></li> -->
  
  
      <li class="menu-item"><a href="{% url 'eventrequest' %}">Event Requests</a></li>
      <li class="menu-item"><a href="{% url 'approvedbookings' %}">Approved Events</a></li>
      <li class="menu-item"><a href="{% url 'showusr' %}">Customers</a></li>
  
      {% if user.is_authenticated %}
      <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#loginmodal" href="">Login</a></li>
      <!-- <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="">Register</a></li> -->
      {% endif %}
  
  
    </ul>
  </div>
  
  
  
  <div class="main-content">
  
    <section>


        <div class="col-4">
            <div class="container" style="margin-left: 200px;">

                <div class="container">
                    <h3 class=" text-center mb-5 w-50" style="color: rgb(5, 12, 69);">
                      Add Product
                    </h3>
                        <form method="post" action="{% url 'addproduct' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <input style="background-color: rgb(255, 255, 255);" type="text" name="pname" class="form-control mt-3" placeholder="Enter Product Name" required>
                            <input style="background-color: rgb(255, 255, 255);" type="text" name="pdes" class="form-control mt-3" placeholder="Enter Product Description" required>
                            <input style="background-color: rgb(255, 255, 255);" type="number" name="pprice" class="form-control mt-3 mb-3" placeholder="Enter Price" required>
                            <input style="background-color: rgb(255, 255, 255);" type="number" name="pqty" class="form-control mt-3 mb-3" placeholder="Enter Quantity" required>
                            <input style="background-color: rgb(255, 255, 255);" type="file" name="pimg" class="form-control mt-3 mb-3" required>
                            
                
                            <!-- <input type="date" name="joindate" class="form-control mt-3 mb-3" placeholder="Enter Joining Date"> -->
                
                            <select style="background-color: rgb(255, 255, 255);" class="form-control" name="select" id="qwerty" required>
                                {% for i in category %}
                 
                                <option value="{{ i.id }}">{{ i.category_name }}</option>
                
                                {% endfor %}
                            </select>
                
                
                            <button type="submit" class="btn btn-dark mt-3 " style="width: 500px;background-color: rgb(5, 12, 69); color: white;margin-bottom: 20px;">Submit</button>
                        </form>
                </div>
            

            </div>
        </div>






  
      <div class="row">
        <div class="col-4">
            {% include 'home/login.html' %}  
            {% include 'manager/category.html' %}
            {% include 'manager/eventpacks.html' %}
            {% include 'manager/menupacks.html' %}
      
        </div>
      </div>
    </section>
  
  
  
  
    
  </div>
  












<style>

    body{
        background-color: rgb(255, 255, 255);
        color: rgb(5, 12, 69);
    }

    .container{
        position: absolute;
        margin-top: 5%;
        
    
    }
    input[type=text],[type=number],[type=file]{
        width: 500px;
    }
    
    #qwerty{
        width: 500px;
    }
/* .btn{
    width: 600px;
} */


</style>

<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<script>
  var toggleBtn = document.querySelector('.toggle-btn');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    sidebar.classList.toggle('active');
  });
</script>


{% endblock %}