{% extends 'manager/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}



{% block body %}



<div class="nav fixed-top " style="background-color: rgb(5, 12, 69);;">
    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100%;"></a>
    <a href="{% url 'adminhome' %}"><label type="submit"  class="label" style="background-color: rgb(5, 12, 69);color: white;margin-top: 35px; font-size:large;margin-left: 25px;">Back</label>
    </a>      
</div>

<div class="container mt-5">
    <h3 class="alert text-center mb-5">
        SHOW USER DETAILS
    </h3>
    <div class="row">
        <div class="col-sm-10">
            <table class="table  text-center ">
                <thead>
                    <tr>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>ADDRESS</th>
                        <th>AGE</th>
                        <th>GENDER</th>
                        <th>STATE</th>
                        <th>COUNTRY</th>
                        <th>PIN CODE</th>
                        <th>PHOTO</th>
                        <th>MOBILE</th>
                        <th>DATE JOINED</th>
                        <th>ACTION</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for p in customers %}
                    <tr>
                        <td>{{ p.customer.first_name}}</td>
                        <td>{{ p.customer.last_name}}</td>
                        <td>{{ p.customer.username}}</td>
                        <td>{{ p.customer.email}}</td>
                        <td>{{ p.address}}</td>
                        <td>{{ p.age}}</td>
                        <td>{{ p.gender}}</td>
                        <td>{{ p.state}}</td>  
                        <td>{{ p.country}}</td> 
                        <td>{{ p.pincode}}</td> 
                        <td>
                            {% if p.photo %}
                            <img src="{{p.photo.url}}" alt="" style="width: 200px;">
                            {% else %}
                            <img src="{% static 'images/default.png' %}" alt="" style="width: 200px;height: 150px;">
                            {% endif %}
                        </td> 
                        <td>{{ p.mobile }}</td>
                        <td>{{ p.customer.date_joined }}</td>
                        

                        <td>
                        
                            <a href="{% url 'deleteusr' p.id %}"><button style="color:rgb(5, 12, 69)">Delete</button></a>
                        </td>
                       
                        
                    </tr>
                
                    {% endfor %}
                </tbody> 
        </div>
    </div>
</div>

<style>
.table{
    width: 100%;
    background-color: rgb(5, 12, 69);
    color: white;
    
}
h3{
    color:rgb(5, 12, 69);
    margin-top: 150px;
}
</style>





{% endblock %}