
<!-- modal for Add reason -->



<div class="modal fade" id="reasonmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: rgb(255, 255, 255);">
  <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content" style="background-color: rgb(5, 12, 69);border-radius: 15px; border-color: black;">
          <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body">
  
  
              <form method="post" action="" target="_self" class="needs-validation">
                  {% csrf_token %}
                  <div class="container">
                      <h1 class="header" style="text-align: center;">Reason for Rejection</h1><br><br>
  
                      <div class="form-group">
                          <label for="reason">Reason:</label>
                          <input type="text" style="background-color: rgb(71, 79, 141);" name="reason" class="form-control mt-3" placeholder="Enter reason for rejection" required>
  
                         
                      </div><br><br>
                      
                      
                        
                      <input type='submit' style="background-color: rgb(26, 33, 90);; color: rgb(255, 255, 255);margin-bottom: 5px;" value='SUBMIT'>
                      <br><br>
                        
                        
            
                    </div>
                  </form>
  
          </div>
          
            <!-- <div class="modal-footer">
              <button class="btn" data-bs-dismiss="modal" style=" color: white; background-color: rgb(5, 12, 69);" type="button"><a href="#" style="text-decoration: none;color: rgb(255, 255, 255);">Back</a> </button>
  
            </div> -->
      </div>

  
  </div>
</div>


<style>

div.modal{

  font-family: Arial, Helvetica, sans-serif;
  
  
}

div.modal#signup div.modal-body{
  padding: 10px;
}

  </style>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
  form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
      event.preventDefault()
      event.stopPropagation()
    }

    form.classList.add('was-validated')
  }, false)
})
})()
</script>

