{% extends 'user/base.html' %}

{% block title %}
Cart
{% endblock title %}


{% block body %}
{% load static %}


<style>

  body{

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(220, 216, 254);
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color:rgb(5, 12, 69);
      overflow-x: hidden;
      padding-top: 20px;
    }
  
    .main-content {
      margin-left: 200px;
      padding: 20px;
    }
  
    .menu-item {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #040404;
    }
  
    .menu-item a {
      text-decoration: none;
      color: #ffffff;
    }
  
    .menu-item a:hover {
      color: #000;
    }
  
    .toggle-btn {
      display: none;
    }
  
    @media screen and (max-width: 768px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
      .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
  
      .main-content {
        margin-left: 0;
      }
    }
  </style>




  
  
  <div class="sidebar">
    <!-- <button class="toggle-btn"></button> -->
    <ul>
      <li class="menu-item"><a href="{% url 'userhome' %}"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100px;"></a></li>
      <li class="menu-item"><a href="{% url 'userhome' %}">Home</a></li>
      <li class="menu-item"><a href="{% url 'userhome' %}">Fresh Dishes</a></li>
      <li class="menu-item"><a href="{% url 'packages' %}">Current Packages</a></li>
      <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#eventmodal" href="#">Book Events</a></li>
      <li class="menu-item"><a href="{% url 'bookinglist' %}">Booking Status</a></li>
      <li class="menu-item"><a href="{% url 'profile' %}">Profile</a></li>
      <li class="menu-item"><a href="{% url 'cart' %}">Cart</a></li>
      {% if user.is_authenticated %}
      <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#loginmodal" href="">Login</a></li>
      <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="">Register</a></li>
      {% endif %}
    </ul>
  </div>
  
  
  
  <div class="main-content"><br>


    <section id="section1">
      <div class="row">
        <div class="col-12">
          <div class="container">

            <h3 class="text-center">Cart</h3><br>

            <table class="table table-responsive" style="background-color: rgb(5, 12, 69);color: white;">

              <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <!-- <th>Category</th> -->
                    <th>Image</th>
                    <th>Qty</th>
                    <th>Action</th>
                    
                    
                </tr>
              </thead>

              {% for p in cartitems %}
              <tbody>
                  
                <tr>

                  <td>{{ p.product.pname}}</td>
                  <td>{{ p.product.pprice}}/-</td>
                  <!-- <td>{{ p.product.pcat.category_name}}</td>   -->
                  <td>
                    {% if p.product.pimg %}
                    <img src="{{ p.product.pimg.url }}" alt="" style="width: 100px;height: 75px;">
                    {% endif %}
                  </td>
                  <td>{{ p.quantity}}</td>
                         
                  <td>
                    <!-- <a href="#"><button>Buy Now</button></a> -->
                    <a href="{% url 'deleteitem' p.id %}"><button style="color: red;">Delete</button></a>
                  </td>
                      
                </tr>
                  
              </tbody> 
              {% endfor %}


               
            </table>
          
            {% if cartitems %}
            <a href="{% url 'checkout' %}"><button class="btn btn-success">Confirm Order</button></a>
            {% endif %}

          </div>
        </div>
        
      </div>
    </section>



    {% include 'user/eventbooking.html' %}
  </div>
  










  {% for message in messages %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

  {% if message.tags == 'info' %}
  <script>
    var m="{{message}}";
    swal("Success!",m, "info")
  </script>

  <!-- modal show -->
  <!-- <script>
      $(document).ready(function() {
          $("#loginmodal").modal('show');
      });
  </script> -->
  

  {% elif message.tags == 'error' %}
  <script>
    var m="{{message}}";
    swal("Success..!",m, "error")
  </script>

  {% elif message.tags == 'success' %}
  
  <script>
    var m="{{message}}";
    swal("Success..!",m, "success")
  </script>

  {% else %}
  <script>
    var m="{{message}}";
    swal("Deleted...!",m, "warning")
  </script>
  

  {% endif %}


{% endfor %}

<!-- <script>
  var toggleBtn = document.querySelector('.toggle-btn');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    sidebar.classList.toggle('active');
  });
</script> -->




{% endblock %}