<!-- <nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled">Disabled</a>
</nav>


<style>
    nav.nav{
        height: 100%;
        width: 350px;
        background-color: blue;
    }
</style> -->

<div class="container">
    <div class="row">
      <div class="col-sm-6 bg-primary p-4 m-4">Section 1</div>
      <div class="col-sm-6 bg-secondary p-4 m-4">
        <div class="row">
          <div class="col-sm-6 bg-success p-4 m-4">Subsection 1</div>
          <div class="col-sm-6 bg-danger p-4 m-4">Subsection 2</div>
        </div>
      </div>
    </div>
  </div>