{% extends 'user/base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="">


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(220, 216, 254);
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color:rgb(5, 12, 69);
    overflow-x: hidden;
    padding-top: 20px;
  }

  .main-content {
    margin-left: 200px;
    padding: 20px;
  }

  .menu-item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #040404;
  }

  .menu-item a {
    text-decoration: none;
    color: #ffffff;
  }

  .menu-item a:hover {
    color: #000;
  }

  .toggle-btn {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .toggle-btn {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .main-content {
      margin-left: 0;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgb(5, 12, 69);
    border-radius: 10px;
  }
  .title {
    color: rgb(20, 48, 51);
    font-size: 18px;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:rgb(5, 12, 69);
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }
input.btn{

    background-color: rgb(255, 255, 255);
    color: rgb(5, 12, 69);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(15, 248, 224);
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input.btn:hover{
    
    background-color: rgb(5, 12, 69);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(15, 248, 224);
    
}
h1{
    text-align: center;
    background-color: rgb(5, 12, 69);
    color: white;
    
    
}
  
</style>


<div class="sidebar">
  <button class="toggle-btn"></button>
  <ul>
    <li class="menu-item"><a href="{% url 'userhome' %}"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100px;"></a></li>
    <li class="menu-item"><a href="{% url 'userhome' %}">Home</a></li>
    <li class="menu-item"><a href="{% url 'userhome' %}">Food Items</a></li>
    <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#eventmodal" href="#">Book Events</a></li>
    <li class="menu-item"><a href="{% url 'bookinglist' %}">Booking Status</a></li>
    <li class="menu-item"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="menu-item"><a href="{% url 'cart' %}">Cart</a></li>
    {% if user.is_authenticated %}
    <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#loginmodal" href="">Login</a></li>
    <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="">Register</a></li>
    {% endif %}
  </ul>
</div>



<div class="main-content">

  <div class="card">
    {% if customer.photo %}
    <img src="{{customer.photo.url}}" alt="" style="width:100%">
    {% else %}
    <img src="{% static 'images/default.png' %}" alt="" style="width: 100%;">
    {% endif %}
    <h1>{{user.first_name}}  {{user.last_name}}</h1>
    <p class="title">Username: {{user.username}}</p>
    <p>Customer Id: {{customer.id}}</p>
    <p>Address: {{customer.address}}</p>
    <p>Age: {{customer.age}}</p>
    <p>State: {{customer.state}} </p>
    <p>Country: {{customer.country}} </p>
    <p>Pincode: {{customer.pincode}} </p>
    <p>Gender: {{customer.gender}}</p>
    <p>Email Id: {{user.email}}</p>
    

    
    <p><button>Contact: {{customer.mobile}}</button></p>
    <a href="{% url 'editpage' %}" style="font-family: Arial, Helvetica, sans-serif;text-decoration: none;color: rgb(5, 12, 69);">Edit Profile</a>
  </div>



  
</div>













{% include 'user/eventbooking.html' %}

{% for message in messages %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

  {% if message.tags == 'info' %}
  <script>
    var m="{{message}}";
    swal("Blocked..!",m, "info")
  </script>

  <!-- modal show -->
  <!-- <script>
      $(document).ready(function() {
          $("#loginmodal").modal('show');
      });
  </script> -->
  

  {% elif message.tags == 'error' %}
  <script>
    var m="{{message}}";
    swal("Denied..!",m, "error")
  </script>

  {% else %}
  
  <script>
    var m="{{message}}";
    swal("Success..!",m, "success")
  </script>
  

  {% endif %}


{% endfor %}
<script>
  var toggleBtn = document.querySelector('.toggle-btn');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    sidebar.classList.toggle('active');
  });
</script>




{% endblock %}