{% extends 'user/base.html' %}

{% block title %}
Edit Profile
{% endblock title %}

{% block body %}
{% load static %}

<style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: rgb(220, 216, 254);
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100%;
      background-color:rgb(5, 12, 69);
      overflow-x: hidden;
      padding-top: 20px;
    }
  
    .main-content {
      margin-left: 200px;
      padding: 20px;
    }
  
    .menu-item {
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #040404;
    }
  
    .menu-item a {
      text-decoration: none;
      color: #ffffff;
    }
  
    .menu-item a:hover {
      color: #000;
    }
  
    .toggle-btn {
      display: none;
    }
  
    @media screen and (max-width: 768px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
      .toggle-btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
  
      .main-content {
        margin-left: 0;
      }
    }
  </style>
  
  <div class="sidebar">
    <!-- <button class="toggle-btn"></button> -->
    <ul>
      <li class="menu-item"><a href="{% url 'userhome' %}"><img src="{% static 'images/logo.png' %}" style="height: 100px;width: 100px;"></a></li>
      <li class="menu-item"><a href="{% url 'userhome' %}">Home</a></li>
      <li class="menu-item"><a href="{% url 'userhome' %}">Food Items</a></li>
      <li class="menu-item"><a href="{% url 'packages' %}">Packages</a></li>
      <li class="menu-item"><a  data-bs-toggle="modal" data-bs-target="#eventmodal" href="#">Book Events</a></li>
      <li class="menu-item"><a href="{% url 'bookinglist' %}">Booking Status</a></li>
      <li class="menu-item"><a href="{% url 'profile' %}">Profile</a></li>
      <li class="menu-item"><a href="{% url 'cart' %}">Cart</a></li>
      {% if user.is_authenticated %}
      <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#loginmodal" href="">Login</a></li>
      <li class="menu-item"><a data-bs-toggle="modal" data-bs-target="#registrationmodal" href="">Register</a></li>
      {% endif %}
    </ul>
  </div>
  
  
  
<div class="main-content">


  <div class="container">
    <div class="row">
      <div class="col-12">



        <section>


          <h3 class="text-center" style="color: rgb(5, 12, 69);margin-top: 20px;">Edit Profile</h3>
  
          <div class="container" style="border-radius: 10px; width:60%;background-color: rgb(29, 37, 97);">
              <form action="{% url 'editdetails' edit.id %}" method="post" enctype="multipart/form-data" class="form pt-5 pb-5" style="width: 50%;margin-left: 25%;">
                  {% csrf_token %}
           
                  <input type="text" name="first_name" class="form-control"value="{{user.first_name}}" placeholder="First Name"><br>
                  <input type="text" name="last_name"class="form-control" value="{{user.last_name}}" placeholder="Last Name"><br>
                  <input type="text" name="username" class="form-control" value="{{user.username}}" placeholder="Username"><br>
                  <input type="email" name="email" class="form-control" value="{{user.email}}" placeholder="Email"><br>
                  <input type="text" name="gender" class="form-control" value="{{edit.gender}}" placeholder="Gender"><br>
                  <input type="text" name="age" class="form-control" value="{{edit.age}}" placeholder="Age"><br>
                  <input type="text" name="state" class="form-control" value="{{edit.state}}" placeholder="state"><br>
                  <input type="text" name="country" class="form-control" value="{{edit.country}}" placeholder="country"><br>
                  <input type="text" name="pincode" class="form-control" value="{{edit.pincode}}" placeholder="pincode"><br>
                  <input type="text" name="number" class="form-control" value="{{edit.mobile}}" placeholder="Mobile Number"><br>
                  <input type="text" name="address" class="form-control" value="{{edit.address}}" placeholder="Address"><br>
                  <label class="form-control">Profile Picture</label><br>
                  {% if edit.photo %}
                       <img id="a1" src="{{edit.photo.url}}" style="width: 150px;" alt=""><br>
                       <input type="file" name="files" accept="image/*" value="{{old}}"><br><br>
                       {% else %}
                       <img src="{% static 'default.png' %}" style="width: 150px;" alt=""><br><br>
                  <input type="file" name="image" class="form-control" accept="image/*"><br>
                  {% endif %}
                  
           
                   
                  
                  
                  <button type="submit" class="btn btn-success" style="margin-left: 40%;background-color: rgb(5, 12, 69);color: white;">Update</button>
                  <br><br>
                  
              </form>
           </div>
           
  
      </section>
  


      </div>
    </div>
  </div>








{% include 'user/eventbooking.html' %}
</div>
  


<!-- <script>
  var toggleBtn = document.querySelector('.toggle-btn');
  var sidebar = document.querySelector('.sidebar');

  toggleBtn.addEventListener('click', function() {
    sidebar.classList.toggle('active');
  });
</script> -->




{% endblock %}